@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

/* Shared Style */

.max-width {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

h1 {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 900;
    margin: 0;
}

h2 {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

strong {
    color: #ffffff;
    font-size: 2rem;
    margin: 0;
}

.btn {
    padding: 15px 35px;
    color: white;
    border-radius: 100px;
    background: #dc4e38;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}

a {
    text-decoration: none;
}

/* Navbar Style */
header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.menu ul {
    gap: 30px;
    border: 1px solid rgba(255, 255, 255, 0.641);
    backdrop-filter: blur(10px);
}

.menu-item li {
    list-style: none;
    padding: 6px 20px;
    border-radius: 50px;
}

.home-menu {
    background-color: #e6533c;
    padding: 5px 15px;
    border-radius: 50px;
}

.menu-item a {
    color: white;
    background-color: transparent;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.menu-item {
    border: 1px solid white;
    border-radius: 50px;
    padding: 5px;
}

/* End Navber Style  */

/* Banner Style start */

.banner-container {
    border: 1px solid yellow;
}

.banner-right {
    position: relative;
    border: 1px solid red;
    width: 50%;
    background-image: url("./images/Images-2.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.banner-right .card {
    align-items: center;
    /* gap: 10px; */
    justify-content: center;
    width: 200px;
    height: 100px;
    backdrop-filter: blur(10px);
    box-shadow: ;
}

.banner-right .card img {
    width: 20%;
    height: auto;
    margin-right: 10px;
}

.banner-right .cart-top {
    flex-direction: column;
    position: absolute;
    top: 120px;
    right: -30px;
}

.banner-right .card-bottom {
    position: absolute;
    bottom: 15%;
    left: -2rem;
}

.banner-left {
    width: 50;
    flex-direction: column;
    gap: 2rem;
    padding: 10rem 0;
}

.banner-left span {
    font-family: "MonteCarlo", cursive;
    font-weight: 300;
    font-size: 6rem;
    line-height: 0;
}

.banner-btn {
    gap: 1rem;
}